.dialog-container {
  width: 500px;
}
.dialog-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.order-summary {
  background-color: #f7f9fc;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.order-info p {
  margin: 5px 0;
}

.items-title {
  margin-top: 20px;
  font-size: 20px;
  border-bottom: 2px solid #3f51b5;
  padding-bottom: 5px;
}

.order-item {
  display: flex;
  align-items: center;
  padding: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 15px;
  background-color: #ffffff;
  transition: box-shadow 0.3s ease-in-out;
}

.order-item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.item-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 20px;
}

.item-details {
  flex: 1;
}

.mat-dialog-content {
  max-height: 500px;
  overflow-y: auto;
}

mat-dialog-actions {
  margin-top: 20px;
}

.status-in_process {
  color: #ff9800;
}

.status-completed {
  color: #4caf50;
}

.status-canceled {
  color: #f44336;
}
