<div class="dialog-container">
  <h2 mat-dialog-title class="dialog-title">Order Details</h2>

  <div mat-dialog-content>
    <!-- Order Summary Section -->
    <section class="order-summary">
      <div class="order-info">
        <p><strong>Order ID:</strong> {{ data.order_id }}</p>
        <p><strong>Username:</strong> {{ data.username }}</p>
        <p>
          <strong>Status: </strong>
          <span [ngClass]="getStatusClass(data.status)">
            {{ data.status.replace("_", " ") | titlecase }}
          </span>
        </p>
        <p>
          <strong>Delivery Type:</strong>
          {{ data.delivery_type.replace("_", " ") | titlecase }}
        </p>
        <p>
          <strong>Payment Type:</strong>
          {{ data.payment_type.replace("_", " ") | titlecase }}
        </p>
        <p><strong>Discount:</strong> {{ data.discount | currency : "THB" }}</p>
        <p>
          <strong>Total Amount:</strong>
          {{ data.total_amount | currency : "THB" }}
        </p>
        <p>
          <strong>Order Created At:</strong>
          {{ data.order_created_at | date : "medium" }}
        </p>
      </div>
    </section>

    <!-- Items List Section -->
    <h3 class="items-title">Items Ordered</h3>
    <div *ngFor="let item of data.items" class="order-item">
      <img [src]="item.image" alt="{{ item.food_name }}" class="item-image" />
      <div class="item-details">
        <h4>{{ item.food_name }}</h4>
        <p>Type: {{ item.food_type }}</p>
        <p>Quantity: {{ item.quantity }}</p>
        <p>Price: {{ item.price | currency : "THB" }}</p>
      </div>
    </div>
  </div>

  <!-- Action Buttons -->
  <div mat-dialog-actions align="end">
    <button
      *ngIf="!isCustomer"
      mat-raised-button
      color="accent"
      (click)="onProgressOrder()"
    >
      In Progress
    </button>
    <button
      *ngIf="!isCustomer"
      mat-raised-button
      color="primary"
      (click)="onCompleteOrder()"
    >
      Complete
    </button>
    <button
      *ngIf="isAllowCancelOrder"
      mat-raised-button
      color="warn"
      (click)="onCancelOrder()"
    >
      Cancel
    </button>
    <button mat-stroked-button color="basic" (click)="closeDialog()">
      Close
    </button>
  </div>
</div>
