<mat-card
  *ngIf="product"
  class="product-card"
  [ngClass]="{ 'full-width': fullWidthMode }"
>
  <div class="card-content">
    <!-- Product Image -->
    <img
      [src]="product.image"
      alt="{{ product.food_name }}"
      class="product-image"
    />

    <!-- Product Details -->
    <div class="product-details">
      <h5 class="food-type">{{ product.food_type }}</h5>
      <p class="food-name" [ngClass]="{ truncate: !fullWidthMode }">
        {{ product.food_name }}
      </p>

      <!-- Price and Actions -->
      <div class="product-footer">
        <span class="price">{{ product.price | currency : "THB" }}</span>

        <div class="actions">
          <!-- Favorite Button -->
          <button
            *ngIf="isLoggedIn"
            class="action-button"
            (click)="onFavourite(product.food_id, product.favourite_id)"
          >
            <mat-icon
              [ngClass]="
                !!product.favourite_id ? 'text-red-500' : 'text-gray-500'
              "
              >favorite</mat-icon
            >
          </button>

          <!-- Edit Button -->
          <button
            *ngIf="hasPermissionToEditFood"
            class="action-button"
            (click)="onEdit()"
          >
            <mat-icon class="text-gray-500">edit</mat-icon>
          </button>

          <!-- Add to Cart Button -->
          <button class="action-button" (click)="onAddToCart()">
            <mat-icon class="text-gray-500">shopping_cart</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-card>
