<div class="login-container">
  <div class="card-container">
    <h2 class="login-title">Login</h2>
    <form [formGroup]="myform" class="form-container">
      <!-- Username Input -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Username</mat-label>
        <mat-icon matPrefix>person</mat-icon>
        <input
          matInput
          formControlName="username"
          type="text"
          placeholder="Username"
        />
      </mat-form-field>

      <!-- Password Input -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <mat-icon matPrefix>lock</mat-icon>
        <input
          matInput
          formControlName="password"
          type="password"
          placeholder="Password"
        />
      </mat-form-field>

      <!-- Action Buttons -->
      <div class="button-container">
        <button
          mat-stroked-button
          color="accent"
          (click)="register()"
          type="button"
        >
          Register
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="login()"
          type="button"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</div>
